#content-box {
    box-shadow: 0px 1px 30px ;
    padding: 40px;
    min-width: 500px;
    max-width: 500px;  
}

.header {
    background-color: rgba(99, 96, 198, 0.715);
    padding: 5px;
}
#content-box p {
    color: rgb(108, 118, 103);
    border-style: dashed;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
button {
    padding: 5 20 5;
    background-color: rgb(218, 107, 107);
    font-weight: 600;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1200px;
}

